*.mp4
*.avi
AG_EMO/
__pycache__/
CREMA-D/
d1_1/
d2_hap/
d3_ang/
d3_hap/
demo_1/
DIS/
emo_disc_checkpoint/
emotalkface_demo_ANG/
emotalkface_demo_DIS/
emotalkface_demo_FEA/
emotalkface_demo_HAP/
emotalkface_demo_NEU/
emotalkface_demo_SAD/
*.yml
examples/
FEA/
fid_score
fid_score.txt
fid.txt
file_test.txt
frame*/
gen_new/
g_new/
G_new/
gt_gen_new/
gt_new/
GT_new/
HAP/
imgs/
*.pt
log/
lrw_*
NEU/
new/
not_lip_train/
opt_*/
ORIGIN*/
pretrain.txt
real_check/
req.txt
requirement.txt
res/
restart/
results/
SAD/
save*/
sda_*/
*.pptx
t_ang/
t_hap_1/
weights/
w_o*/
xiufu.py
*.pth
*.mov
*.wav
emo_disc_ checkpoint/
correct_arc_step291.txt
correct_arc_step69.txt
re_new/
val.txt
ANG/
*.gif
convert2gif.py

